.comment-container {
  width: 700px;
  margin: 10px auto;
}

.comment-inner-container {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.comments-count {
  margin: 10px 10px 10px 20px;
}

.comment-inner-container  .reply-box {
  display: flex;
  flex-direction: row;
}

.comment-box {
  display: flex;
  justify-content: space-around;
}

.comment-box input {
  height: 30px;
  width: 90%;
}
